In [49]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import tensorflow as tp
from tensorflow import keras

In [50]:
train=pd.read_csv("/content/train.csv")
test=pd.read_csv("/content/test.csv")

In [51]:
df_train = train.drop(columns=["price", "id", "clean_title"])

In [52]:
df_test = test.drop(columns=["id", "clean_title"])

In [53]:
for column in df_train:
  print(column,len(df_train[column].unique()))

brand 53
model 1827
model_year 34
milage 3212
fuel_type 7
engine 1061
transmission 46
ext_col 260
int_col 124
accident 2

In [54]:
df_train.dtypes

brand           object
model           object
model_year       int64
milage           int64
fuel_type       object
engine          object
transmission    object
ext_col         object
int_col         object
accident        object
dtype: object

In [55]:
df_test.dtypes

brand           object
model           object
model_year       int64
milage           int64
fuel_type       object
engine          object
transmission    object
ext_col         object
int_col         object
accident        object
dtype: object

In [56]:
combined = pd.concat([df_train, df_test])

In [57]:
columns=["brand","accident","model","fuel_type","engine","transmission","ext_col","int_col"]

In [58]:
encoder = LabelEncoder()
for column in columns:
    # Fit the encoder on the combined data
    encoder.fit(combined[column])

    # Transform train and test data separately
    df_train[column] = encoder.transform(df_train[column])
    df_test[column] = encoder.transform(df_test[column])

print("Encoded Train Data:")
print(df_train)
print("\nEncoded Test Data:")
print(df_test)

Encoded Train Data:
       brand  model  model_year  milage  fuel_type  engine  transmission  \
0         14    649        2018   74349          2     730             2
1          4     49        2007   80000          2     544            19
2         21   1803        2009   91491          2     551            15
3          4   1779        2022    2437          3     657            45
4         40    699        2001  111000          2     224            35
...      ...    ...         ...     ...        ...     ...           ...
54268      4   1776        2017   29000          2     870            28
54269      3    167        2015   94634          1     273            15
54270     41    424        2013   40989          2     830            45
54271     41    144        2023    1518          2     774            30
54272      3    178        2021   35000          3     380            28

       ext_col  int_col  accident
0           28       63         1
1           19       12         1
2          194        9         1
3          107       28         1
4          263       12         1
...        ...      ...       ...
54268      263       28         1
54269       19       12         0
54270      263       12         0
54271       13       28         1
54272       19       12         1

[54273 rows x 10 columns]

Encoded Test Data:
       brand  model  model_year  milage  fuel_type  engine  transmission  \
0         35    542        2014   73000          2     564            35
1         26   1294        2015  128032          2     422            28
2         35    328        2015   51983          2     321            22
3         25   1373        2018   29500          2     945            45
4          4   1775        2020   90000          2     656            28
...      ...    ...         ...     ...        ...     ...           ...
36178     15   1830        2019    4500          2     838             2
36179      9   1541        2004  185000          2     486             7
36180     51    493        2011  116000          2      33            11
36181     27   1122        2019   39000          2     874             2
36182      9   1639        2012  162731          1     621            35

       ext_col  int_col  accident
0          263        9         1
1          226       12         1
2           28      129         1
3          263      129         0
4          263       12         0
...        ...      ...       ...
36178      107       12         1
36179      201       63         0
36180       13       63         1
36181       19       95         1
36182       19       12         0

[36183 rows x 10 columns]

In [59]:
col=["brand","model","model_year","milage","fuel_type","engine","transmission","ext_col","int_col","accident"]
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_train[col]=scaler.fit_transform(df_train[col])
df_test[col]=scaler.transform(df_test[col])

In [60]:
print("Encoded Train Data:")
print(df_train)
print("\nEncoded Test Data:")
print(df_test)

Encoded Train Data:
          brand     model  model_year    milage  fuel_type    engine  \
0      0.264151  0.349300        0.88  0.183376   0.333333  0.678439
1      0.075472  0.026372        0.66  0.197333   0.333333  0.505576
2      0.396226  0.970398        0.70  0.225713   0.333333  0.512082
3      0.075472  0.957481        0.96  0.005772   0.500000  0.610595
4      0.754717  0.376211        0.54  0.273895   0.333333  0.208178
...         ...       ...         ...       ...        ...       ...
54268  0.075472  0.955867        0.86  0.071376   0.333333  0.808550
54269  0.056604  0.089882        0.82  0.233475   0.166667  0.253717
54270  0.773585  0.228202        0.78  0.100985   0.333333  0.771375
54271  0.773585  0.077503        0.98  0.003502   0.333333  0.719331
54272  0.056604  0.095802        0.94  0.086194   0.500000  0.353160

       transmission   ext_col   int_col  accident
0          0.042553  0.102190  0.477273       1.0
1          0.404255  0.069343  0.090909       1.0
2          0.319149  0.708029  0.068182       1.0
3          0.957447  0.390511  0.212121       1.0
4          0.744681  0.959854  0.090909       1.0
...             ...       ...       ...       ...
54268      0.595745  0.959854  0.212121       1.0
54269      0.319149  0.069343  0.090909       0.0
54270      0.957447  0.959854  0.090909       0.0
54271      0.638298  0.047445  0.212121       1.0
54272      0.595745  0.069343  0.090909       1.0

[54273 rows x 10 columns]

Encoded Test Data:
          brand     model  model_year    milage  fuel_type    engine  \
0      0.660377  0.291712        0.80  0.180044   0.333333  0.524164
1      0.490566  0.696448        0.82  0.315959   0.333333  0.392193
2      0.660377  0.176534        0.82  0.128138   0.333333  0.298327
3      0.471698  0.738967        0.88  0.072611   0.333333  0.878253
4      0.075472  0.955328        0.92  0.222030   0.333333  0.609665
...         ...       ...         ...       ...        ...       ...
36178  0.283019  0.984930        0.90  0.010867   0.333333  0.778810
36179  0.169811  0.829386        0.60  0.456656   0.333333  0.451673
36180  0.962264  0.265339        0.74  0.286244   0.333333  0.030669
36181  0.509434  0.603875        0.90  0.096073   0.333333  0.812268
36182  0.169811  0.882131        0.76  0.401657   0.166667  0.577138

       transmission   ext_col   int_col  accident
0          0.744681  0.959854  0.068182       1.0
1          0.595745  0.824818  0.090909       1.0
2          0.468085  0.102190  0.977273       1.0
3          0.957447  0.959854  0.977273       0.0
4          0.595745  0.959854  0.090909       0.0
...             ...       ...       ...       ...
36178      0.042553  0.390511  0.090909       1.0
36179      0.148936  0.733577  0.477273       0.0
36180      0.234043  0.047445  0.477273       1.0
36181      0.042553  0.069343  0.719697       1.0
36182      0.744681  0.069343  0.090909       0.0

[36183 rows x 10 columns]

In [61]:
train_y=train["price"]
print(train_y)

0         11000
1          8250
2         15000
3         63500
4          7850
          ...
54268     29000
54269      6500
54270     18950
54271    194965
54272     37499
Name: price, Length: 54273, dtype: int64

In [62]:
import tensorflow as tp
from tensorflow import keras
model=keras.Sequential([
    keras.layers.Dense(25,input_shape=(df_train.shape[1],),activation="relu"),
    keras.layers.Dense(25,activation="relu"),
    keras.layers.Dense(1)

])
model.compile(
    optimizer="adam",
    loss="mean_squared_error",
    metrics=[keras.metrics.RootMeanSquaredError()])

In [ ]:
model.fit(df_train,train_y,epochs=200)

Epoch 1/200
1697/1697 [==============================] - 7s 3ms/step - loss: 6263278592.0000 - root_mean_squared_error: 79140.8750
Epoch 2/200
1697/1697 [==============================] - 5s 3ms/step - loss: 5228419072.0000 - root_mean_squared_error: 72307.8047
Epoch 3/200
1697/1697 [==============================] - 7s 4ms/step - loss: 5175814656.0000 - root_mean_squared_error: 71943.1328
Epoch 4/200
1697/1697 [==============================] - 5s 3ms/step - loss: 5141192192.0000 - root_mean_squared_error: 71702.1094
Epoch 5/200
1697/1697 [==============================] - 7s 4ms/step - loss: 5105347584.0000 - root_mean_squared_error: 71451.7109
Epoch 6/200
1697/1697 [==============================] - 5s 3ms/step - loss: 5069288448.0000 - root_mean_squared_error: 71198.9375
Epoch 7/200
1697/1697 [==============================] - 5s 3ms/step - loss: 5034017792.0000 - root_mean_squared_error: 70950.8125
Epoch 8/200
1697/1697 [==============================] - 6s 4ms/step - loss: 5001283584.0000 - root_mean_squared_error: 70719.7500
Epoch 9/200
1697/1697 [==============================] - 5s 3ms/step - loss: 4971043840.0000 - root_mean_squared_error: 70505.6250
Epoch 10/200
1697/1697 [==============================] - 6s 4ms/step - loss: 4943493632.0000 - root_mean_squared_error: 70309.9844
Epoch 11/200
1697/1697 [==============================] - 5s 3ms/step - loss: 4920865280.0000 - root_mean_squared_error: 70148.8750
Epoch 12/200
1697/1697 [==============================] - 5s 3ms/step - loss: 4901430784.0000 - root_mean_squared_error: 70010.2188
Epoch 13/200
1697/1697 [==============================] - 6s 3ms/step - loss: 4885986816.0000 - root_mean_squared_error: 69899.8359
Epoch 14/200
1697/1697 [==============================] - 5s 3ms/step - loss: 4874384384.0000 - root_mean_squared_error: 69816.7891
Epoch 15/200
1697/1697 [==============================] - 6s 4ms/step - loss: 4863767040.0000 - root_mean_squared_error: 69740.7109
Epoch 16/200
1697/1697 [==============================] - 5s 3ms/step - loss: 4857057280.0000 - root_mean_squared_error: 69692.5859
Epoch 17/200
1697/1697 [==============================] - 6s 3ms/step - loss: 4850350080.0000 - root_mean_squared_error: 69644.4531
Epoch 18/200
1697/1697 [==============================] - 5s 3ms/step - loss: 4845066240.0000 - root_mean_squared_error: 69606.5078
Epoch 19/200
1697/1697 [==============================] - 5s 3ms/step - loss: 4840687104.0000 - root_mean_squared_error: 69575.0469
Epoch 20/200
1697/1697 [==============================] - 6s 3ms/step - loss: 4836405760.0000 - root_mean_squared_error: 69544.2734
Epoch 21/200
1697/1697 [==============================] - 5s 3ms/step - loss: 4832276992.0000 - root_mean_squared_error: 69514.5781
Epoch 22/200
1697/1697 [==============================] - 6s 3ms/step - loss: 4829324800.0000 - root_mean_squared_error: 69493.3438
Epoch 23/200
1697/1697 [==============================] - 5s 3ms/step - loss: 4826028032.0000 - root_mean_squared_error: 69469.6172
Epoch 24/200
1697/1697 [==============================] - 5s 3ms/step - loss: 4823273984.0000 - root_mean_squared_error: 69449.7969
Epoch 25/200
1697/1697 [==============================] - 6s 3ms/step - loss: 4820674560.0000 - root_mean_squared_error: 69431.0781
Epoch 26/200
1697/1697 [==============================] - 5s 3ms/step - loss: 4819099648.0000 - root_mean_squared_error: 69419.7344
Epoch 27/200
1697/1697 [==============================] - 6s 3ms/step - loss: 4817030144.0000 - root_mean_squared_error: 69404.8281
Epoch 28/200
1697/1697 [==============================] - 5s 3ms/step - loss: 4815660544.0000 - root_mean_squared_error: 69394.9609
Epoch 29/200
1697/1697 [==============================] - 7s 4ms/step - loss: 4813680128.0000 - root_mean_squared_error: 69380.6875
Epoch 30/200
1697/1697 [==============================] - 5s 3ms/step - loss: 4812310016.0000 - root_mean_squared_error: 69370.8125
Epoch 31/200
1697/1697 [==============================] - 6s 3ms/step - loss: 4810652160.0000 - root_mean_squared_error: 69358.8672
Epoch 32/200
1697/1697 [==============================] - 5s 3ms/step - loss: 4809276416.0000 - root_mean_squared_error: 69348.9453
Epoch 33/200
1697/1697 [==============================] - 5s 3ms/step - loss: 4807923200.0000 - root_mean_squared_error: 69339.1875
Epoch 34/200
1697/1697 [==============================] - 6s 3ms/step - loss: 4806978048.0000 - root_mean_squared_error: 69332.3750
Epoch 35/200
1697/1697 [==============================] - 5s 3ms/step - loss: 4805426176.0000 - root_mean_squared_error: 69321.1797
Epoch 36/200
1697/1697 [==============================] - 5s 3ms/step - loss: 4804886528.0000 - root_mean_squared_error: 69317.2891
Epoch 37/200
1697/1697 [==============================] - 5s 3ms/step - loss: 4803639808.0000 - root_mean_squared_error: 69308.2969
Epoch 38/200
 262/1697 [===>..........................] - ETA: 4s - loss: 3962331648.0000 - root_mean_squared_error: 62947.0547

In [ ]:
predicted=model.predict(df_test)

In [ ]:
pred=pd.DataFrame(predicted)
samp=pd.read_csv("/content/sample_submission.csv")
datasets=pd.concat([samp["id"],pred],axis=1)
datasets.columns=["id","price"]
datasets.to_csv("sample_prediction2.csv",index=False)

In [ ]:
datasets