In [54]:
import tensorflow as tp
from tensorflow import keras
import pandas as pd

In [55]:
df=pd.read_csv("Churn_Modelling.csv")

In [56]:
df.drop(["RowNumber","CustomerId","Surname"],axis="columns",inplace=True)

In [57]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [58]:
for col in df:
    print(f"{col}:{df[col].unique()}")

CreditScore:[619 608 502 699 850 645 822 376 501 684 528 497 476 549 635 616 653 587
 726 732 636 510 669 846 577 756 571 574 411 591 533 553 520 722 475 490
 804 582 472 465 556 834 660 776 829 637 550 698 585 788 655 601 656 725
 511 614 742 687 555 603 751 581 735 661 675 738 813 657 604 519 664 678
 757 416 665 777 543 506 493 652 750 729 646 647 808 524 769 730 515 773
 814 710 413 623 670 622 785 605 479 685 538 562 721 628 668 828 674 625
 432 770 758 795 686 789 589 461 584 579 663 682 793 691 485 650 754 535
 716 539 706 586 631 717 800 683 704 615 667 484 480 578 512 606 597 778
 514 525 715 580 807 521 759 516 711 618 643 671 689 620 676 572 695 592
 567 694 547 594 673 610 767 763 712 703 662 659 523 772 545 634 739 771
 681 544 696 766 727 693 557 531 498 651 791 733 811 707 714 782 775 799
 602 744 588 747 583 627 731 629 438 642 806 474 559 429 680 749 734 644
 626 649 805 718 840 630 654 762 568 613 522 737 648 443 640 540 460 593
 801 611 802 745 483 690 492 709 705 560 752 701 537 487 596 702 486 724
 548 464 790 534 748 494 590 468 509 818 816 536 753 774 621 569 658 798
 641 542 692 639 765 570 638 599 632 779 527 564 833 504 842 508 417 598
 741 607 761 848 546 439 755 760 526 713 700 666 566 495 688 612 477 427
 839 819 720 459 503 624 529 563 482 796 445 746 786 554 672 787 499 844
 450 815 838 803 736 633 600 679 517 792 743 488 421 841 708 507 505 456
 435 561 518 565 728 784 552 609 764 697 723 551 444 719 496 541 830 812
 677 420 595 617 809 500 826 434 513 478 797 363 399 463 780 452 575 837
 794 824 428 823 781 849 489 431 457 768 831 359 820 573 576 558 817 449
 440 415 821 530 350 446 425 740 481 783 358 845 451 458 469 423 404 836
 473 835 466 491 351 827 843 365 532 414 453 471 401 810 832 470 447 422
 825 430 436 426 408 847 418 437 410 454 407 455 462 386 405 383 395 467
 433 442 424 448 441 367 412 382 373 419]
Geography:['France' 'Spain' 'Germany']
Gender:['Female' 'Male']
Age:[42 41 39 43 44 50 29 27 31 24 34 25 35 45 58 32 38 46 36 33 40 51 61 49
 37 19 66 56 26 21 55 75 22 30 28 65 48 52 57 73 47 54 72 20 67 79 62 53
 80 59 68 23 60 70 63 64 18 82 69 74 71 76 77 88 85 84 78 81 92 83]
Tenure:[ 2  1  8  7  4  6  3 10  5  9  0]
Balance:[     0.    83807.86 159660.8  ...  57369.61  75075.31 130142.79]
NumOfProducts:[1 3 2 4]
HasCrCard:[1 0]
IsActiveMember:[1 0]
EstimatedSalary:[101348.88 112542.58 113931.57 ...  42085.58  92888.52  38190.78]
Exited:[1 0]

In [59]:
df.dtypes

CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [60]:
df.replace({'Female':1,'Male':0},inplace=True)

In [61]:
df=pd.get_dummies(data=df,columns=["Geography"],dtype=int)

In [62]:
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,1,42,2,0.00,1,1,1,101348.88,1,1,0,0
1,608,1,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,1,42,8,159660.80,3,1,0,113931.57,1,1,0,0
3,699,1,39,1,0.00,2,0,0,93826.63,0,1,0,0
4,850,1,43,2,125510.82,1,1,1,79084.10,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,0,39,5,0.00,2,1,0,96270.64,0,1,0,0
9996,516,0,35,10,57369.61,1,1,1,101699.77,0,1,0,0
9997,709,1,36,7,0.00,1,0,1,42085.58,1,1,0,0
9998,772,0,42,3,75075.31,2,1,0,92888.52,1,0,1,0
9999,792,1,28,4,130142.79,1,1,0,38190.78,0,1,0,0

In [63]:
col=["CreditScore", 'Age' ,'Tenure' ,'Balance', 'EstimatedSalary' ,'NumOfProducts']
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df[col]=scaler.fit_transform(df[col])

In [66]:
x=df.drop("Exited",axis="columns")
y=df["Exited"]

In [70]:
x.shape

(10000, 12)

In [71]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=5)

In [75]:
model=keras.Sequential([
    keras.layers.Dense(25,input_shape=(12,),activation="relu"),
    keras.layers.Dense(20,activation="relu"),
    keras.layers.Dense(1,activation="sigmoid")])
model.compile(
    optimizer="adam",
    loss="binary_crossentropy",
    metrics=["accuracy"])

C:\Users\Ghanathey Akash\AppData\Roaming\Python\Python311\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [77]:
model.fit(x_train,y_train,epochs=50)

Epoch 1/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8565 - loss: 0.3487
Epoch 2/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8534 - loss: 0.3411
Epoch 3/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8630 - loss: 0.3438
Epoch 4/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8556 - loss: 0.3548
Epoch 5/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8515 - loss: 0.3481
Epoch 6/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8562 - loss: 0.3518
Epoch 7/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 948us/step - accuracy: 0.8607 - loss: 0.3383
Epoch 8/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 952us/step - accuracy: 0.8594 - loss: 0.3400
Epoch 9/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 960us/step - accuracy: 0.8611 - loss: 0.3451
Epoch 10/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 952us/step - accuracy: 0.8489 - loss: 0.3640
Epoch 11/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 956us/step - accuracy: 0.8591 - loss: 0.3384
Epoch 12/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 956us/step - accuracy: 0.8613 - loss: 0.3354
Epoch 13/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8583 - loss: 0.3449
Epoch 14/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 960us/step - accuracy: 0.8638 - loss: 0.3303
Epoch 15/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 956us/step - accuracy: 0.8609 - loss: 0.3444
Epoch 16/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 962us/step - accuracy: 0.8658 - loss: 0.3301
Epoch 17/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 964us/step - accuracy: 0.8646 - loss: 0.3320
Epoch 18/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 964us/step - accuracy: 0.8616 - loss: 0.3362
Epoch 19/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 968us/step - accuracy: 0.8572 - loss: 0.3463
Epoch 20/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 968us/step - accuracy: 0.8608 - loss: 0.3392
Epoch 21/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 968us/step - accuracy: 0.8613 - loss: 0.3416
Epoch 22/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 976us/step - accuracy: 0.8607 - loss: 0.3390
Epoch 23/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8646 - loss: 0.3299
Epoch 24/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8682 - loss: 0.3369
Epoch 25/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8602 - loss: 0.3347
Epoch 26/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8632 - loss: 0.3293
Epoch 27/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8694 - loss: 0.3379
Epoch 28/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 984us/step - accuracy: 0.8627 - loss: 0.3403
Epoch 29/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 988us/step - accuracy: 0.8602 - loss: 0.3334
Epoch 30/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8632 - loss: 0.3288
Epoch 31/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 968us/step - accuracy: 0.8615 - loss: 0.3384
Epoch 32/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 992us/step - accuracy: 0.8711 - loss: 0.3262
Epoch 33/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 968us/step - accuracy: 0.8661 - loss: 0.3247
Epoch 34/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8731 - loss: 0.3183
Epoch 35/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8658 - loss: 0.3316
Epoch 36/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8676 - loss: 0.3323
Epoch 37/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 988us/step - accuracy: 0.8681 - loss: 0.3264
Epoch 38/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8620 - loss: 0.3341
Epoch 39/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 964us/step - accuracy: 0.8655 - loss: 0.3331
Epoch 40/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 976us/step - accuracy: 0.8658 - loss: 0.3251
Epoch 41/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 976us/step - accuracy: 0.8612 - loss: 0.3306
Epoch 42/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8626 - loss: 0.3329
Epoch 43/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8646 - loss: 0.3353
Epoch 44/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8701 - loss: 0.3183
Epoch 45/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 976us/step - accuracy: 0.8666 - loss: 0.3246
Epoch 46/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 980us/step - accuracy: 0.8656 - loss: 0.3356
Epoch 47/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8673 - loss: 0.3315
Epoch 48/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 976us/step - accuracy: 0.8723 - loss: 0.3137
Epoch 49/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 980us/step - accuracy: 0.8764 - loss: 0.3195
Epoch 50/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8726 - loss: 0.3143

In [81]:
predict=model.predict(x_test)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 903us/step

In [82]:
model.evaluate(x_test,y_test)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8441 - loss: 0.3551

[0.3502676784992218, 0.8514999747276306]

In [84]:
y_pred = []
for element in predict:
    if element > 0.5:
        y_pred.append(1)
    else:
        y_pred.append(0)

In [85]:
from sklearn.metrics import confusion_matrix,classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.87      0.95      0.91      1595
           1       0.71      0.45      0.55       405

    accuracy                           0.85      2000
   macro avg       0.79      0.70      0.73      2000
weighted avg       0.84      0.85      0.84      2000